/* general styles */
:root {
  --main-color: #212121;
  --second-color: #757575;
  --background-color:#ffffff;
}

.body {
font-family: "Roboto", sans-serif;
font-size: 14px;
background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover,
a:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}
/* logo-heder */

.logo-heder {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-heder > span {
  color: #000000;
}

/* navimenu */

.site-nav {
  font-family: "Roboto";
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: #2196f3;
}

.contacts {
  color: var(--second-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #ffffff;
  background-color: #2196f3;
}

/* fetures */

.fetures-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.fetures-text {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* activity */

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* our team */

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* footer */

footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-footer > span {
  color: #ffffff;
}

.address {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio page */

.filr-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.filr-button:hover,
.filr-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.projeck-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
